<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <!-- <script defer src="../front_script/post_add.js"></script> -->
    <script defer src="../front_script/post_show.js"></script>
    <script defer src="../front_script/home.js"></script>
    <title>home</title>
</head>
<body>
    <nav>
        <div>
            <a href="home.html"><i class="fa fa-linkedin-square" style="color: rgb(47, 92, 218); font-size:2.5rem"></i></a>
        </div>
        <div>
            <form action="">
                <input type="text" name="search" placeholder="search" class="search_input">
            </form>
        </div>
        <div>
            <div>
                <a href="home.html">
                    <i class="fa fa-home" style="display: block ; font-size:1.8rem ; color: black;"></i>
                    <span>Home</span>
                </a>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-users" style="display: block ; font-size:1.8rem ; color: black;"></i>
                <span>networks</span>
            </div>
        </div>
        <div>
            <div>
                <a href="jobs.html">
                    <i class="fa fa-briefcase" style="display: block ; font-size:1.8rem ; color: black;"></i>
                    <span>Jobs</span>
                </a>
            </div>
        </div>

        <div>
            <div>
                <i class="fa fa-commenting" style="display: block ; font-size:1.8rem ; color: black;"></i>
                <span>Messaging</span>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-bell" style="display: block ; font-size:1.8rem ; color: black;"></i>
                <span>Notification</span>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-user-circle-o" style="display: block ; font-size:1.8rem ; color: black;"></i>
                <span>Me</span>
            </div>
        </div>
        <div>
                <a href="premium.html"><p>Get hired faster. Try Premium free.</p></a>
        </div>  
    </nav>
    <main>
        <div class="main_container_1">
            <div class="first_block">
                <img src="../images/background.jpeg" alt="">
            </div>
            <div class="camera_container">
                <img src="../images/camera.png" alt="" srcset="">
            </div>
            <h4>Welcom, housni!</h4>
            <h6>add a photo</h6>
            <hr>
            <h5 style="color: #696969;margin-bottom: 0">Connections</h5>
            <h5>Connect with alumni</h5>
            <hr>
            <a href="premium.html" style="color: black; text-decoration:underline;"><h5>Get hired faster, try premium</h5></a>
            <hr>
            <h5 style="margin-bottom: 1.2rem;">My items</h5>
        </div>
        <div>
            <div class="main_container_2">
                <i class="fa fa-user-circle-o" style="font-size:2.7rem "></i>
                <form action="" class="post_form">
                    <input type="text" placeholder="Start a post" class="post" name="descripation">
                </form>
            </div>
            <h3>Recent Post</h3>
            <hr class="separator">
            <div class="main_container_3">
            </div>
        </div>
        <div >
            <div class="main_container_4">
                <h5 style="text-align: center; padding-left: 0;">whith linkedin you can post a job </h5>
                <a href="post_job.html"><button>Post a Jobs</button></a>
            </div>
            <div class="main_container_5">
                <p style="color: black; font-size: 0.8rem;  margin-bottom: 0.3rem; text-align: center;">unlock your full potential with linkedin Premium</p>
                <i class="fa fa-linkedin-square" style="color:#baa25f ; font-size:3.5rem;margin-left: 37%;;  margin-bottom: 0.3rem"></i>
                <h5 style="color: #aa9354;text-align: center; padding-left: 0;">See who's viewed your profile in the last 90 days</h5>
                <a href="premium.html"><button>Try for Free</button></a>
            </div>
        </div>
    </main>
</body>
</html>