<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/job_set_description.css">
    <script defer src="../front_script/job_set_description.js"></script>
    <title>set descripation</title>
</head>
<body>
    <nav>
        <a href="home.html"><i class="fa fa-linkedin-square" style="color: rgb(47, 92, 218); font-size:2.5rem"></i></a>
        <i class="fa fa-user-circle-o" style="display: block ; font-size:1.8rem ; color: black;"></i>
    </nav>
    <section class="container">
        <div>
        <h3> set the descripation for your job</h3>
        <p> Rated #1 in increasing quality of hire.</p>
        <form action="">
            <label for="description">description</label>
            <textarea name="description" id="" cols="40" rows="10" required></textarea>
            <button>Get Start</button>
        </form>
        </div>
    </section>
</body>
</html>