<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signin.css">
    <script defer src="../front_script/signin.js"></script>
    <title>sign in</title>
</head>
<body>
    <div>
        <h2>Sign in</h2>
        <h5>Stay updated on your professional world</h5>
        <form >
            <input type="email" name="email" placeholder="Email">
            <input type="password" placeholder="Password" name="password">
            <p id="error">password or email wrong</p> 
            <a><p>Forget Password?</p></a>
            <button type="submit">Sign in</button>    
        </form>
    </div>
    <a href="../index.html"><img src="../images/linkdin_logo.png"></a>
</body>
</html>