<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>sign in</title>
</head>
<body>
    <h2> Make the most of your professional life </h2>
    <section>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password (6+ characters)</label>
        <input type="password" name="password">
        <p> By clicking Agree & Join, you agree to the LinkedIn Policy</p>
        <button>Agree & Join</button>
        <!-- <hr> -->
        <p> Already on LinkedIn?</p> <a href="signin.html"> Sign in </a>
    </div>
    </section>
    <a href="../index.html"><img src="../images/linkdin_logo.png"></a>
</body>
</html>